.container {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.canvas {
  flex-grow: 1;
  flex-shrink: 1;
}

.ui {

}

.header {

}

.inputForm fieldset {
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

.inputForm fieldset label {
  margin: 0.125rem 0;
  display: block;
}

.inputForm fieldset input {
  margin: 0 0.5rem;
  width: 4rem;
}

.inputForm fieldset select {
  margin: 0 0.5rem;
}

.inputForm .inputGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputForm .inputColumn {
  min-width: 50%;
}

.notes {
  overflow-x: auto;
}

.notes ul {
  list-style: none;
}
